# ------------------------------------------------------------
# Python cache
# ------------------------------------------------------------

__pycache__/
*.pyc


# ------------------------------------------------------------
# virtual environment
# ------------------------------------------------------------

.venv/


# ------------------------------------------------------------
# LaTeX build files
# ------------------------------------------------------------

*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz


# ------------------------------------------------------------
# Streamlit cache
# ------------------------------------------------------------

.streamlit/


# ------------------------------------------------------------
# OS / editor files
# ------------------------------------------------------------

.DS_Store
Thumbs.db


# ------------------------------------------------------------
# generated datasets and pipeline outputs
# ------------------------------------------------------------

data/augmented/
data/model_dataset/


# ------------------------------------------------------------
# unfinished files
# ------------------------------------------------------------

comparison_tab_unfinished_version.py